TRANSFER_PASSWORD=123456
STORAGE_TOTAL_CAPACITY=1GB

STORAGE_PROVIDER=vercel-blob/local
NEXT_PUBLIC_STORAGE_UPLOAD_MODE=vercel-blob-client/form-data

BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxx

STORAGE_ACCESS=private
STORAGE_PREFIX=uploads/

